<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Ejemplar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .message {
            color: green;
            display: none;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h2>Borrar Ejemplar</h2>
<div>
	<form action="#" th:action="@{/BorrarEjemplar}" th:object="${BorrarEjemplar}" method="post">
	<label for="ejemplarId">Introduce el ID del ejemplar: </label>
    <input type="text" id="ejemplarId" placeholder="ID del ejemplar" th:field="*{id}>
    <button onclick="bajaEjemplar()">Borrar</button>
</div>
<p class="message" id="message">El ejemplar ha sido borrado correctamente.</p>



</body>
</html>
