<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Borrar Ejemplar</title>
  
        .message {
            color: black;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h2>Borrar Ejemplar</h2>
<div>
	<form action="#" th:action="@{/BorrarEjemplar}" th:object="${ejemplar}" method="post">
    
       <ul>
            <li th:each="titulo : ${titulos}">
                <label th:for="${'titulo_' + titulo.nombre}">
                    <input type="radio" th:id="${'titulo_' + titulo.isbn}" th:name="tituloIsbn" th:value="${titulo.isbn}" />
                    <span th:text="${titulo.isbn + ' - ' + titulo.nombre}" />
                </label>
            </li>
        </ul>
    
		<input type="submit" value="Borrar" />
		<a href="/PanelAdministrador">Atras</a>  
		
    <p class="message" th:if="${message}" th:text="${message}" id="message"></p>
         </form>
    
    
    
</div>



</body>
</html>
