<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Prestar Ejemplar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .message {
            color: black;
            margin-top: 10px;
        }
    </style>
</head>

<head>
    <title>Borrar o actualizar título</title>
</head>
<body style="background-color: #96adff;">
<form action="#" th:action="@{/DeleteAndUpdate}" th:object="${titulo}" method="post">
    <h1>Borrar o actualizar título </h1>
    <label for="ejemplarIsbn">ISBN del Ejemplar:</label>
    <input type="number" th:field="*{isbn}" placeholder="ISBN del Ejemplar" required/>
    <input type="submit" name="accion" value="Borrar">


</form>
<div th:if="${message}" class="message" th:text="${message}"></div>
</body>
</html>
