<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Devolución</title>
</head>
<body>
    <h1>Gestión de Devolución</h1>
     <form action="#" th:action="@{/DevolucionEjemplar}" method="post">
        <ul>
            <li th:each="prestamo : ${prestamos}">
                <label th:for="${'prestamo_' + prestamo.ejemplar.id}">
                    <input type="radio" th:id="${'prestamo_' + prestamo.ejemplar.titulo.nombre + ' - '+ prestamo.usuario.nombre + '-' +prestamo.usuario.id}" th:name="prestamoEjemplarId" th:value="${prestamo.ejemplar.id}" />
                    <span th:text="${prestamo.ejemplar.id + ' - ' + prestamo.ejemplar.titulo.nombre + ' - '+ prestamo.usuario.nombre + ' con id :' +prestamo.usuario.id}" />
                </label>
            </li>
        </ul>
        <input type="submit" value="Realizar Devolución">
        <a href="/Bibliotecario">Atras</a>  
        
         <p class="message" th:if="${message}" th:text="${message}" id="message"></p>
        
    </form>
</body>
</html>
