<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Devolución</title>
</head>
<body>
<h1>Gestión de Devolución</h1>
<p th:text="'Bienvenido: ' + ${session.usuario.nombre}"/>

<form action="#" th:action="@{/DevolucionUsuario}" th:object="${prestamo}" method="post">
  <ul>
            <li th:each="prestamo : ${prestamos}">
                <label th:for="${'prestamo_' + prestamo.titulo.nombre}">
                    <input type="radio" th:id="${'prestamo_' + prestamo.titulo.isbn}" th:name="tituloIsbn" th:value="${prestamo.titulo.isbn}" />
                    <span th:text="${prestamo.titulo.isbn + ' - ' + prestamo.titulo.nombre}" />
                </label>
            </li>
        </ul>
        <input type="submit" value="Borrar" />
                 <a href="/PanelUsuario">Atras</a>  
        
        <p class="message" th:if="${message}" th:text="${message}" id="message"></p>
    </form>

</form>
</body>
</html>
