<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca - Página de Inicio</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <h1>Bienvenido a la Biblioteca</h1>
    
    <!-- Mensaje de bienvenida al usuario -->
    <p>Bienvenido.</p>
    
    <h2>Opciones disponibles:</h2>
    <ul>
        <li><a href="/PanelAdministrador">Administrador</a>: Da de alta nuevos títulos en el catálogo y añade ejemplares.</li>
        <li><a href="/Bibliotecario">Bibliotecario/a</a>: Realiza préstamos, gestionar devoluciones y reservas.</li>
        <li><a href="/procesarInicioSesion">Usuario</a>: Realiza acciones de usuario en la biblioteca.</li>
    </ul>
    
    <!-- Agrega un enlace para cerrar sesión -->
</body>
</html>
