<!DOCTYPE html>
<html>
<head>
    <title>Panel del Usuario</title>
       	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <h1>Panel del Usuario</h1>
		<p th:text="'Bienvenido: ' + ${session.usuario.nombre}"/>
    <h2>Gestión de Préstamos</h2>
    <ul>
        <li><a href="/PrestarEjemplarUsuario">Prestar Ejemplar</a></li>
        <li><a href="/DevolucionUsuario">Gestionar Devolución</a></li>
      <li><a href="/ReservaEjemplarUsuario">Hacer Reserva de Ejemplar</a></li>
    </ul>

    <h2>Cerrar Sesión</h2>
    <ul>
        <li><a href="/procesarInicioSesion">Cerrar Sesión</a></li>
    </ul>
</body>
</html>
