<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Prestar Ejemplar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .message {
            color: black;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h2>Prestar Ejemplar</h2>
<div>
    <form action="#" th:action="@{/PrestarEjemplar}" th:object="${prestamo}" method="post">
        <label for="usuarioId">ID del Usuario:</label>
        <input type="number" name="userId" th:value="${userId}" placeholder="ID del Usuario" required />
        <br/>
        <ul>
            <li th:each="ejemplar : ${ejemplares}">
                <label th:for="${'ejemplar_' + ejemplar.id}">
                    <input type="radio" th:id="${'ejemplar_' + ejemplar.id}" th:name="ejemplarId" th:value="${ejemplar.id}" />
                    <span th:text="${ejemplar.id + ' - ' + ejemplar.titulo.titulo}" />
                </label>
            </li>
        </ul>
        <input type="submit" value="Prestar" />
        <p class="message" th:if="${message}" th:text="${message}" id="message"></p>
    </form>
</div>

</body>
</html>
