<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seleccionar Ejemplar</title>
</head>
<body>
    <h1>Lista de Ejemplares Disponibles</h1>
    <form action="/ReservaEjemplarUsuario" " method="post"> 
    		
       <p th:text="'Bienvenido: ' + ${session.usuario.nombre}"/>
    
        <ul>
            <li th:each="ejemplar : ${ejemplares}">
                <label th:for="${'ejemplar_' + ejemplar.id}">
                    <input type="radio" th:id="${'ejemplar_' + ejemplar.id}" th:name="ejemplarId" th:value="${ejemplar.id}" />
                    <span th:text="${ejemplar.id + ' - ' + ejemplar.titulo.nombre}" />
                </label>
            </li>
        </ul>
        <button type="submit">Seleccionar</button>
    </form>
    <div th:if="${mensaje}">
        <p th:text="${mensaje}" />
    </div>
</body>
</html>
